.swiper-custom{
    position: relative;
}
.swiper-button-prev{
    color: black;
    position: absolute;
    top: 150px;
    left: -40px;
}

.swiper-button-next{
    color: black;
    position: absolute;
    top: 150px;
    right: -40px;
}

.swiper-pagination-bullet-active{
    color: black;
    background-color: black;
}

.swiper-pagination{
    position: absolute;
    top: 275px !important;
    /* right: 50px; */
}
